@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}


<div class="row x_title">
    <div class="col-xs-6">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="col-xs-6">


    </div>
</div>


<div class="x_panel">
    <div class="x_content">


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
    
    <h4>List of roles for this user</h4>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>No roles found for this user.</p>
    }

    <table class="table">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


    </div>
</div>

