@model CaseReview.DataLayer.Models.CaseReviewWorkSheet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this Case Review Work Sheet?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Staff
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.StaffFirstname)
            @Html.DisplayFor(model => model.Staff.StaffSurname)
        </dd>

        <dt>
            Client Ref
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientRef)
        </dd>

        <dt>
            Reviewer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reviewer)
        </dd>

        <dt>
            Reviewed Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
